@model IEnumerable<BookClub.Models.Entities.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Все книги</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Add book", "AddToUser", new { item.BookId })
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Home" asp-action="Welcome">Back</a>
